{# templates/home.html #}
{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="text-center py-4">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">Bienvenue sur Industria</h1>
  <p class="text-lg text-gray-600">Votre solution intelligente de gestion géographique</p>
</div>
<!-- Carte avec position relative et overflow hidden -->
<div id="map" class="relative w-full overflow-hidden rounded-lg shadow-lg mb-8" style="height: 500px;"></div>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}